.homepage{
    margin:0px 0px 0px 0px;
    position: relative;
}
.search{
    z-index: 1;
    top: 42vh;
    left: 30%;
    position: absolute;
   
}
.search > input{
    width: 35vw;
    border-radius: 15px 0px 0px 15px ;
    height: 3vw;
    padding: 6px;
   
}
.search >button{
    border-radius:  0px 15px 15px 0px;
    background-color: red;
    border: 0px;
    height: 3vw;
    width: 7vw;
    color: white;
}

.banner{
    margin: 5rem;
    padding: 2%;
}